<template name="settings">
    Your Settings...
    <div role="tabpanel">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Info</a></li>
        <li role="presentation"><a href="#Layout" aria-controls="Layout" role="tab" data-toggle="tab">Layout</a></li>
        <li role="presentation"><a href="#API" aria-controls="API" role="tab" data-toggle="tab">API</a></li>
        <li role="presentation"><a href="#History" aria-controls="History" role="tab" data-toggle="tab">History</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="info">{{> Info}}</div>
        <div role="tabpanel" class="tab-pane" id="Layout">{{> Layout}}</div>
        <div role="tabpanel" class="tab-pane" id="API">{{> Api}}</div>
        <div role="tabpanel" class="tab-pane" id="History">{{> History}}</div>
      </div>

    </div>
</template>
