<template name='settings'>
    Your Settings...
    <table class='table'>
        <tr>
            <th>Name:</th>
            <td>{{profile.name}}</td>
        </tr>
        <tr>
            <th>Roles:</th>
            <td>{{roles}}</td>
        </tr>
        <tr>
            <th>Layout:</th>
            <td>
                <label>
                    SideBar:
                    {{#if $eq profile.layout "1"}}
                        <input type='radio' id='side' class='layoutStyle' name='layoutStyle' checked value='1' />
                    {{else}}
                        <input type='radio' id='side' class='layoutStyle' name='layoutStyle' value='1' />
                    {{/if}}
                </label>
                <label>
                    Horizonal:
                    {{#if $eq profile.layout "0"}}
                        <input type='radio' id='top' class='layoutStyle' name='layoutStyle' checked value='0' />
                    {{else}}
                        <input type='radio' id='top' class='layoutStyle' name='layoutStyle' value='0' />
                    {{/if}}
                </label>
            </td>
        </tr>
        <tr>
            <th>Color:</th>
            <td>
                <select id='colorSelect'>
                    <option {{selected "Black" }}>Black</option>
                    <option {{selected "White" }}>White</option>
                    <option {{selected "Red" }}>Red</option>
                    <option {{selected "Pink" }}>Pink</option>
                    <option {{selected "Purple" }}>Purple</option>
                    <option {{selected "Indigo" }}>Indigo</option>
                    <option {{selected "Cyan" }}>Cyan</option>
                    <option {{selected "Teal" }}>Teal</option>
                    <option {{selected "Green" }}>Green</option>
                    <option {{selected "Lime" }}>Lime</option>
                    <option {{selected "Yellow" }}>Yellow</option>
                    <option {{selected "Amber" }}>Amber</option>
                    <option {{selected "Orange" }}>Orange</option>
                    <option {{selected "Brown" }}>Brown</option>
                    <option {{selected "Grey" }}>Grey</option>
                    <option {{selected "Blue" }}>Blue</option>
                </select>
            </td>
        </tr>

        <tr><td>&nbsp;</td></tr>
        <tr>
            <th>API Stuffs</th>
            <td>&nbsp;</td>
        </tr>
        {{#if api}}
        <tr>
            {{#unless api.confirmed}}
                <td>&nbsp;</td>
                <th>{{api.api_id}} is tring to make a connection.</th>
                <td>To confirm this connection <button id='confirmSlack'>Confirm</button></td>
            {{/unless}}
            {{#if api.confirmed}}
                <td>&nbsp;</td>
                <td>API should be good to go.</td>
            {{/if}}
        </tr>
        <tr>
            <th>Connected:</th>
            <td>{{api.api_id}}</td>
        </tr>
        <tr>
            <th>Confirmed: </th>
            <td>{{api.confirmed}}</td>
        </tr>


        {{/if}}
    </table>
    <hr />
    <label>Past Orders:</label>
    <table class='table'>
        <thead>
            <th>Place</th>
            <th>Food</th>
            <th>Date</th>
        </thead>
        <tbody>
        {{#each ordered}}
            <tr>
                <td>{{place}}</td>
                <td>{{order}}</td>
                <td>{{datePicked}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>