<template name='orders'>
    <div class="group-header">
        <div class="title-bar row">
          <span class="title col-sm-8">All Orders </span>
          <span class="count col-sm-4">{{items.count}} of {{totalUsers}} Order(s) Placed</span>
        </div>
      <div class="entry form-horizontal">
        <div class="form-group">
            <div class="col-sm-8">
                <input type='text' placeholder="what do you want..." id="food" class="form-control"/>
            </div>
            <div class="col-sm-4">
                <a href="#" type="button" class='btn btn-success' id='submitOrder'>Submit</a>
            </div>
        </div>
      </div>
    </div>

    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Food</th>
            <th>Time</th>
            <th>&nbsp;</th>
        </thead>
        <tbody>
            {{#each items}}
                {{> order}}
            {{else}}
              <h3>No orders placed...</h3>
            {{/each}}
    </tbody>
    </table>

</template>
