/* CSS declarations go here */

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}

/* CSS declarations go here */

body{
    width: auto;
    padding:0;
    margin: 0;
}

.footer {
    border-top: 1px black solid;
    float:right;
}

#collapseExample{
    position: relative;
    bottom: 85px;
}

#adminList li
{
display: inline;
list-style-type: none;

}

#adminList li a{
    background: #795548;
    color: #fff;
}
/*FOR WHEEL*/
img {
    -webkit-transition: -webkit-transform 2s ease-out;
}


.group-header {
    padding: 10px 40px;
}

.group-header .title {
    font-size: 2em;
}

.group-header .count{
    float: right;
    font-size: 1.5em;
}

.group-header .entry {
    margin: 10px 0;

}

.group-header .entry input {

}
.group-header .entry .btn {

}

#watch-holder {
    text-align: center;
    width: 100%;
}
#watch-holder iframe {
    width: 800px;
    height: 500px;
}
#watch-holder .original-link {
    margin: 10px;
}

.table > thead > tr > td.success, .table > tbody > tr > td.success, .table > tfoot > tr > td.success, .table > thead > tr > th.success, .table > tbody > tr > th.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > tbody > tr.success > td, .table > tfoot > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr.success > th, .table > tfoot > tr.success > th
{
  background-color: #48C000 !important;
}