/* CSS declarations go here */

#main-content {
	padding-left: 2em;
  background: #fff;
}

a {
	color: #783904;
  font-weight: bold;
}

.top_bar_btns{
  color: white;
}


/* Head Bar */
#app_name_bar, core-scaffold::shadow core-toolbar {
  background: #783904 !important;
  color: #fff;
  font-weight: bold;
}


#side_menu, #admin_side_menu {
  background: #fff !important;
}

