<template name='place'>
  <div class="panel panel-default {{#if winner}}panel-success{{/if}}">
    <div class="panel-heading">
      <h3 class="panel-title">
          {{> placeHeader}}
      </h3>
    </div>
    <div class="panel-body">
        {{#unless isWinner}}
          {{#if voted}}
            {{#if downVote}}
              <button type="button" id='downVote' class="decrement btn btn-warning">
                <span style='font-size: 25px' class="mdi-action-thumb-down"></span>
              </button>
            {{/if}}
          {{/if}}
          {{#unless voted }}
            {{#unless downVote}}
                <button type="button" id='upvote' class="btn btn-success {{upvotedClass}}">
                  <span style='font-size: 25px' class="mdi-action-thumb-up"></span>
                </button>
            {{/unless}}
          {{/unless}}
        {{/unless}}
        {{#if isInRole 'admin'}}
              <button type="button" id='delete' class="btn btn-danger">
                <span style='font-size: 25px' class="mdi-action-delete"></span>
              </button>
            {{/if}}
        {{#if isInRole 'admin'}}
          <button type="button" id='resetVotes' class="btn btn-danger">
          <span style='font-size: 25px' class='mdi-action-cached'></span>
          </button>
        {{/if}}

    </div>
<!--     <div class="panel-footer">

    </div> -->
  </div>
</template>

<template name='placeHeader'>
  {{#if menu}}
    <a target="_blank" href='{{menu}}'>{{name}}</a>
  {{/if}}
  {{#unless menu}}
    {{name}}
  {{/unless}}
</template>
