<template name="places">
    <div class="group-header">
        <div class="title-bar row">
          <span class="title col-sm-8">Places</span>
          <span class="count col-sm-4">{{items.count}} Place(s) Registered</span>
          <span class="count col-sm-4">{{currentVoted}} of {{totalUsers}} Vote(s) </span>
        </div>
      {{#if isInRole 'admin'}}
        <div class="entry form-horizontal">
          <div class="col-sm-5">
            <input type='text' placeholder="Where at..." id="place" class="form-control" />
          </div>
          <div class="col-sm-5">
            <input type='text' placeholder="What they have..." id="menu" class="form-control" />
          </div>
          <div class="col-sm-2">
            <input type="button" class='btn btn-success' id='submitPlace' value="Submit" />
          </div>
        </div>
      {{/if}}
  </div>

  <!-- Large modal -->
  <button type="button" class="btn btn-primary" id='openRandom' data-toggle="modal" data-target=".bs-example-modal-lg">Open Random Wheel</button>

  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>Click the wheel to spin!</b></h4>
        </div>
        <div class="modal-body">
          <div id="wheel" >
              <canvas id="canvas" width="1000" height="600"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      {{#each items}}
        <div class="col-xs-12 col-md-4">
        {{> place}}
        </div>
      {{else}}
        <h3>No places...</h3>
      {{/each}}
    </div>
  </div>

</template>
