<template name='user'>
    <tr>
      <td><img height="32" width="32" src='{{profile.picture}}' /></td>
  		<td>{{profile.name}}</td>
  		<td>{{roles}}</td>
  		<td>

        {{#if isInRole 'admin'}}
            <label class="active-user">
  			    {{#if profile.active}}
            	<input type="checkbox" name="activeUser" checked>
            {{/if}}
            {{#unless profile.active}}
            	<input type="checkbox" name="activeUser" >
            {{/unless}}
            </label>
        {{/if}}
        {{#if isInRole 'user'}}
          {{profile.active}}
        {{/if}}
  		</td>
      <td>{{voted}}</td>
      <td>{{ordered}}</td>
  	</tr>
</template>