<template name='header'>
    {{#if $eq layout "1"}}

    <!-- Side Nav-->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav navbar navbar-material-{{layoutColor}}">
            <li class="sidebar-brand">
                <a href="{{pathFor 'home'}}"><span style='font-size:24px;'><b>Brown Bag (Beta)</b></span></a>
            </li>
            <li>
                {{#if currentUser}} {{> user_loggedin}} {{else}} {{> user_loggedout}} {{/if}}
            </li>
            <li><hr /></li>
            <li>
                <a class='btn' style='width:215px;' href="{{pathFor 'places'}}">
                    <i class="fa fa-building-o fa-2x side-menu-icon">&nbsp;&nbsp;&nbsp;</i>
                    <b>
                        <span class='side-menu-text'>Places</span>
                    </b>
                </a>
            </li>
            <li><a class='btn' style='width:215px;' href="{{pathFor 'orders'}}"><i class="fa fa-cutlery fa-2x side-menu-icon">&nbsp;&nbsp;&nbsp;</i><b><span class='side-menu-text'>Orders</span></b></a></li>
            <!-- <li><a class='btn' style='width:215px;' href="http://pslinks.meteor.com/category/brown-bag" target="_blank"><i class="fa fa-video-camera fa-2x side-menu-icon">&nbsp;&nbsp;&nbsp;</i><b><span class='side-menu-text'>Talks</span></b></a> </li> -->
            <li><a class='btn' style='width:215px;' href="{{pathFor 'users'}}"><i class="fa fa-users fa-2x side-menu-icon">&nbsp;&nbsp;&nbsp;</i><b><span class='side-menu-text'>Users</span></b></a></li>
            <!-- <li><a class='btn' style='width:215px;' href="{{pathFor 'messages'}}"><i class="fa fa-bell fa-2x side-menu-icon">&nbsp;&nbsp;&nbsp;</i><b><span class='side-menu-text'>Alerts</span></b></a></li> -->
            <li><a class='btn' style='width:215px;' href="{{pathFor 'releases'}}"><b><span class='side-menu-text'>Releases</span></b></a></li>


            {{#if isInRole 'admin'}}
              <li><hr /></li>
              <li>
                <h4 style="color:#fff; cursor:default;"><b>Admin Controls</b></h4>
                <ul style='list-style: none; padding: 0; margin: 0;'>
                  {{> admin_sendOrderNotification}}
                </ul>
              </li>
            {{/if}}
        </ul>

    </div>

    <!-- Top Nav -->
    <div>
        <div class="navbar navbar-material-{{layoutColor}}" role="navigation">
            <div class="navbar-header">
            <a class="navbar-brand" href="{{pathFor 'home'}}">
              <img alt="Brand" height="32" width="32" src="/brown-bag.png">
            </a>
              <button type="button" id="menu-toggle" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>
        </div>
    </div>

    {{else}}
        <style type="text/css">
            * {
                margin: 0;
            }
            html, body {
                height: 100% !important;
                padding-top: 70px !important;
                /*padding-left: 70px !important;*/
                /*padding-right: 70px !important;*/
                padding-bottom: 70px;
            }
            #wrapper {
                padding: 0 !important;
                min-height: 100%;
                height: auto !important;
                height: 100%;
                margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
            }
        </style>

        <nav class="navbar navbar-default navbar-fixed-top navbar-material-{{layoutColor}}">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{pathFor 'home'}}">
                <img alt="Brand" height="32" width="32" src="/brown-bag.png">
              </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a class="{{ activeIfTemplateIs 'places' }}" href="{{pathFor 'places'}}">Places</a></li>
                <li><a class="{{ activeIfTemplateIs 'orders' }}" href="{{pathFor 'orders'}}">Orders</a></li>
                <li><a class="{{ activeIfTemplateIs 'talks' }}" href="http://pslinks.meteor.com/category/brown-bag" target="_blank">Talks</a></li>
                <li><a class="{{ activeIfTemplateIs 'users' }}" href="{{pathFor 'users'}}">Users</a></li>
                <li><a class="{{ activeIfTemplateIs 'messages' }}" href="{{pathFor 'messages'}}">Alerts</a></li>
                <li>
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Admin Controls
                    </a>
                </li>
             </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{pathFor 'settings'}}" title='Account Settings'><i class='glyphicon glyphicon-cog'></i></a></li>
                <li><a href='#' id="logout" title='Logout' ><i class='glyphicon glyphicon-log-out'></i></a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

        {{#if isInRole 'admin'}}

        <div class="collapse" id="collapseExample">
          <div class="well">
            <ul id='adminList'>
                  {{> admin_sendOrderNotification}}
                </ul>
          </div>
          </div>

            {{/if}}
    {{/if}}

</template>


<template name="admin_sendOrderNotification">
    {{#if isInRole 'admin'}}
        <li><a class='btn' style='width:215px; color: white;' href="#" id="send-notification">Ordering Notification</a></li>
        <li><a class='btn' style='width:215px; color: white;' href="##" id='vote-notify'>Vote Notification</a></li>
        <li><a class='btn' style='width:215px; color: white;' href='#' id='endVoting'>End Voting</a></li>
    {{> clearAll}} {{/if}}
</template>

<template name='user_loggedout'>
    <li><a id='login'>Login with Google</a>
    </li>
    <!-- {{> loginButtons }} -->
</template>

<template name="user_loggedin">
    {{#if loggingIn}}
    <li><a>Logging in...</a>
    </li>
    {{else}}

            <li>
              <a class='btn' style='display:inline-block; padding-left: 4px;' href="{{pathFor 'settings'}}" title='Account Settings'><i class='glyphicon glyphicon-cog'></i></a>
              <a class='btn' style='display:inline-block; padding-left: 4px;' href='#' id="logout" title='Logout' ><i class='glyphicon glyphicon-log-out'></i></a>
            </li>

    {{/if}}
</template>

<template name='clearAll'>
    {{#if isInRole 'admin'}}
    <li><a class='btn' style='width:215px; color: white;' href='#' id='saveClear'>Reset Votes & Orders</a>
    </li>
    {{/if}}
</template>
