<!-- <template name="header">
  <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
          <a class="navbar-brand" href="{{pathFor 'home'}}">Brown Bag (Beta)</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav"> -->
<!-- class="active" -->
<!--               <li><a href="{{pathFor 'places'}}">Places</a></li>
              <li><a href="{{pathFor 'orders'}}" >Orders</a></li>
              <li><a href="{{pathFor 'urls'}}">Urls</a></li> -->
<!--               {{#if isInRole 'admin'}}
                <li><a href="{{pathFor 'users'}}">Users</a></li>
              {{/if}} -->
<!--           </ul>
          <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            {{> user_loggedin}}
          {{else}}
            {{> user_loggedout}}
          {{/if}}
          </ul>
      </div>
  </div>
  <div style="float:right;">
    {{> admin_sendOrderNotification}}
  </div>
  <br />
  <br />
</template> -->


<template name='header'>
    <!-- Side Nacv-->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="{{pathFor 'home'}}">Brown Bag (Beta)</a>
            </li>
            <li>
                {{#if currentUser}} {{> user_loggedin}} {{else}} {{> user_loggedout}} {{/if}}
            </li>
            <li><hr /></li>
            <li><a href="{{pathFor 'places'}}">Places</a></li>
            <li><a href="{{pathFor 'orders'}}">Orders</a></li>
            <li><a href="{{pathFor 'urls'}}">Urls</a> </li>
            <li><hr /></li>
            <li>
              <h4>Admin Controls</h4>
              <ul>
                {{> admin_sendOrderNotification}}
              </ul>
            </li>
        </ul>

    </div>

    <!-- Top Nav -->
    <div>
        <div class="navbar navbar-default" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a id="menu-toggle"><i class='glyphicon glyphicon-th'></i></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#if currentUser}}
                      <li>
                        <span>{{currentUser.profile.name}}</span>
                        <img class="img-rounded" style="height: 32px;margin-right: 25px; margin-top: 10px;" src="{{currentUser.profile.picture}}" />
                      </li>
                    {{else}}
                      {{> user_loggedout}}
                    {{/if}}
                </ul>
        </div>
    </div>

</template>


<template name="admin_sendOrderNotification">
    {{#if isInRole 'admin'}}
<!--     <li><a href="#" id="send-notification"><i class="glyphicon glyphicon-bullhorn"></i>Ordering Notification</a></li>-->
    <li><a href="#" id="send-notification">Ordering Notification</a></li>
    <li><a href='#' id='endVoting'>End Voting</a></li>
    {{> clearAll}} {{/if}}
</template>

<template name='user_loggedout'>
    <li><a id='login'>Login with Google</a>
    </li>
    <!-- {{> loginButtons }} -->
</template>

<template name="user_loggedin">
    {{#if loggingIn}}
    <li><a>Logging in...</a>
    </li>
    {{else}}
    <li class="dropdown">

            <li>
              <a style='display:inline-block; padding-right: 37px;' href="{{pathFor 'settings'}}" title='Account Settings'><i class='glyphicon glyphicon-cog'></i></a>
              <a style='display:inline-block; padding-right: 37px;' href='#' id="logout" title='Logout' ><i class='glyphicon glyphicon-log-out'></i></a>
            </li>

    </li>
    {{/if}}
</template>

<template name='clearAll'>
    {{#if isInRole 'admin'}}
    <li><a href='#' id='saveClear'>Reset & save history</a>
    </li>
    <li><a href='#' id='hardClear'>Reset & save NOTHING</a>
    </li>
    {{/if}}
</template>
