<!-- <template name="header">
  <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
          <a class="navbar-brand" href="{{pathFor 'home'}}">Brown Bag (Beta)</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav"> -->
<!-- class="active" -->
<!--               <li><a href="{{pathFor 'places'}}">Places</a></li>
              <li><a href="{{pathFor 'orders'}}" >Orders</a></li>
              <li><a href="{{pathFor 'urls'}}">Urls</a></li> -->
<!--               {{#if isInRole 'admin'}}
                <li><a href="{{pathFor 'users'}}">Users</a></li>
              {{/if}} -->
<!--           </ul>
          <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            {{> user_loggedin}}
          {{else}}
            {{> user_loggedout}}
          {{/if}}
          </ul>
      </div>
  </div>
  <div style="float:right;">
    {{> admin_sendOrderNotification}}
  </div>
  <br />
  <br />
</template> -->


<template name='header'>
   <core-menu id='side_menu' >
    <!-- <paper-item> <a href="{{pathFor 'home'}}"><span style='font-size:24px;'><b>Brown Bag (Beta)</b></span></a></paper-item> -->

    <paper-item>
      <a href="{{pathFor 'places'}}"><b><span style='font-size:22px;'>Places</span></b></a>
    </paper-item>

    <paper-item>
      <a href="{{pathFor 'orders'}}"><b><span style='font-size:22px;'>Orders</span></b></a>
    </paper-item>

    <paper-item>
      <a href="http://pslinks.meteor.com/category/brown-bag" target="_blank"><b><span style='font-size:22px;'>Talks</span></b></a>
    </paper-item>

  </core-menu>

  <h4 style="cursor:default;"><b>Admin Controls</b></h4>

  <core-menu id='admin_side_menu'>
    {{#if isInRole 'admin'}}
          {{> admin_sendOrderNotification}}
      {{/if}}
  </core-menu>

    <!-- Side Nacv-->
<!--     <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="{{pathFor 'home'}}"><span style='font-size:24px;'><b>Brown Bag (Beta)</b></span></a>
            </li>
            <li>
                {{#if currentUser}} {{> user_loggedin}} {{else}} {{> user_loggedout}} {{/if}}
            </li>
            <li><hr /></li>
            <li><a href="{{pathFor 'places'}}"><i class="fa fa-building-o fa-2x">&nbsp;&nbsp;&nbsp;</i><b><span style='font-size:22px;'>Places</span></b></a></li>
            <li><a href="{{pathFor 'orders'}}"><i class="fa fa-cutlery fa-2x">&nbsp;&nbsp;&nbsp;</i><b><span style='font-size:22px;'>Orders</span></b></a></li>
            <li><a href="http://pslinks.meteor.com/category/brown-bag" target="_blank"><i class="fa fa-video-camera fa-2x">&nbsp;&nbsp;&nbsp;</i><b><span style='font-size:22px;'>Talks</span></b></a> </li>
            {{#if isInRole 'admin'}}
              <li><hr /></li>
              <li>
                <h4 style="color:#fff; cursor:default;"><b>Admin Controls</b></h4>
                <ul>
                  {{> admin_sendOrderNotification}}
                </ul>
              </li>
            {{/if}}
        </ul>

    </div> -->

    <!-- Top Nav -->
<!--     <div>
        <div class="navbar navbar-default" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a id="menu-toggle"><i class='fa fa-bars'></i></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#if currentUser}}
                      <li>
                        <span style='color:#fff; position:relative; top: 5px;'>{{currentUser.profile.name}}</span>
                        <img class="img-rounded" style="height: 32px;margin-right: 25px; margin-top: 10px;" src="{{currentUser.profile.picture}}" />
                      </li>
                    {{else}}
                      {{> user_loggedout}}
                    {{/if}}
                </ul>
        </div>
    </div> -->

</template>


<template name="admin_sendOrderNotification">
    {{#if isInRole 'admin'}}
<!--     <li><a href="#" id="send-notification"><i class="glyphicon glyphicon-bullhorn"></i>Ordering Notification</a></li>-->
    <paper-item><a href="#" id="send-notification">Ordering Notification</a></paper-item>
    <paper-item><a href="##" id='vote-notify'>Vote Notification</a></paper-item>
    <paper-item><a href='#' id='endVoting'>End Voting</a></paper-item>
    {{> clearAll}} {{/if}}
</template>

<template name='user_loggedout'>
    <li><a id='login'>Login with Google</a>
    </li>
    <!-- {{> loginButtons }} -->
</template>

<template name="user_loggedin">
    {{#if loggingIn}}
    <li><a>Logging in...</a>
    </li>
    {{else}}

        <a href="{{pathFor 'settings'}}" title='Account Settings'>
          <paper-icon-button icon='settings' id='settings-btn' class='top_bar_btns'></paper-icon-button>
        </a>
        <paper-icon-button icon='exit-to-app' id="logout" class='top_bar_btns'></paper-icon-button>
    {{/if}}
</template>

<template name='clearAll'>
    {{#if isInRole 'admin'}}
      <paper-item><a href='#' id='saveClear'>Reset & save history</a></paper-item>
      <paper-item><a href='#' id='hardClear'>Reset & save NOTHING</a></paper-item>
    {{/if}}
</template>
