<template name='home'>
    <div class="jumbotron">
      <h1>Hi {{currentUser.profile.given_name}}! </h1>
      <p>
        Welcome to the Brown-Bag website!
      </p>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="presentation.jpg" alt="...">
          <div class="caption">
            <h3>Presentation</h3>
            <p>Presentation to educate!</p>
            <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="food.jpg" alt="...">
          <div class="caption">
            <h3>Food</h3>
            <p>Yes, food!</p>
            <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="other.jpg" alt="...">
          <div class="caption">
            <h3>Cats</h3>
            <p>Just because!</p>
            <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
          </div>
        </div>
      </div>

    </div>

    <div class="jumbotron">
      <p>
        Check out code for the site on <a href='https://github.com/jared-schmidt/Brown-Bag'>Github &nbsp;<i class="fa fa-github-alt fa-lg"></i></a>
      </p>
    </div>

</template>
