<head>
    <title>Brown Bag (Beta)</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" sizes="16x16 32x32" href="/brown-bag.png">
</head>

<template name='layout'>
<div id="wrapper">
    {{> header}}

    {{#each messages}}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close closeMessage" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{message}}
        </div>
    {{/each}}


    <div id="page-content-wrapper">
        {{> yield}} {{#if currentUser}}
        <div class='footer'>
            Made Especially for {{currentUser.profile.name}}
            <br />
            <a href='https://github.com/jared-schmidt/Brown-Bag'>Github &nbsp;<i class="fa fa-github-alt fa-lg"></i></a>

        </div>
        {{/if}}
    </div>
    </div>
</template>

<template name='loginLayout'>
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{pathFor 'home'}}">Brown Bag (Beta)</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                {{#if currentUser}} {{> user_loggedin}} {{else}} {{> user_loggedout}} {{/if}}
            </ul>
        </div>
    </div>
    <br />
    <br />{{> yield}}
</template>

<template name='loading'>
    <h1>Loading...</h1>
</template>

<template name='home'>
    <h3>Welcome to the Brown-Bag Site.</h3>
</template>

<template name='login'>
    {{>frontPage}}
</template>

