<head>
    <title>Brown Bag (Beta)</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" sizes="16x16 32x32" href="/brown-bag.png">
    <link rel="import" href="bower_components/core-scaffold/core-scaffold.html">
    <link rel="import" href="bower_components/core-menu/core-menu.html">
    <link rel="import" href="bower_components/core-header-panel/core-header-panel.html">
    <link rel="import" href="bower_components/core-toolbar/core-toolbar.html">


    <link rel="import" href="bower_components/paper-item/paper-item.html">
    <link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="bower_components/paper-input/paper-input.html">
    <link rel="import" href="bower_components/paper-button/paper-button.html">


</head>

<template name='layout'>
<core-scaffold>
  <core-header-panel navigation flex mode="seamed">
    <core-toolbar id='app_name_bar'>Brown Bag (Beta)</core-toolbar>
      <div drawer>
      {{> header}}
      </div>
  </core-header-panel>

  <div tool id='head_bar' >{{getTitle}}</div>
  <!-- <div tool horizontal layout flex center-justified class="middle">Title-middle</div> -->
  <div tool horizontal layout flex end-justified class="bottom">
      {{#if currentUser}} {{> user_loggedin}} {{else}} {{> user_loggedout}} {{/if}}
  </div>
  <div main id='main-content'>{{> yield}}</div>
</core-scaffold>



<!-- <div id="wrapper">

    <core-drawer-panel>
      <div drawer>{{> header}}</div>
      <div main>
      <div id="page-content-wrapper">
        {{> yield}} {{#if currentUser}}
        <footer>
            Made Especially for {{currentUser.profile.name}}
            <br />
            <a href='https://github.com/jared-schmidt/Brown-Bag'>Github &nbsp;<i class="fa fa-github-alt fa-lg"></i></a>

        </footer>
        {{/if}}
    </div>
    </div>
    </core-drawer-panel>


    </div> -->
</template>

<template name='loginLayout'>
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{pathFor 'home'}}">Brown Bag (Beta)</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                {{#if currentUser}} {{> user_loggedin}} {{else}} {{> user_loggedout}} {{/if}}
            </ul>
        </div>
    </div>
    <br />
    <br />{{> yield}}
</template>

<template name='loading'>
    <h1>Loading...</h1>
</template>

<template name='home'>
    <h3>Welcome to the Brown-Bag Site.</h3>
</template>

<template name='login'>
    <h2>Log-in through Google</h2>
</template>

