<template name='order'>
    <tr>
        {{#if $eq name "Christopher Lombardi"}}
        <td>SeaLow</td>
        {{/if}}
        {{#if $neq name "Christopher Lombardi"}}
          <td>{{name}}</td>
        {{/if}}
        <td>{{food}}</td>
        <td>{{submittedOn}}</td>
        <td>
          {{#if $eq currentUser.profile.name name}}
            <button type="button" id='deleteOrder' class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
          {{/if}}
        </td>
    </tr>
</template>
