<template name='place'>
    <tr>
        <td>
          {{#if menu}}
            <a href='{{menu}}'>{{name}}</a>
          {{/if}}
          {{#unless menu}}
            {{name}}
          {{/unless}}
        </td>
        <td>{{votes}}</td>
        <!-- <td>{{submittedOn}}</td> -->
        <td>
          {{#if $eq currentUser.profile.name username}}
            <button type="button" id='delete' class="btn btn-danger">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          {{/if}}
          {{#if voted}}
            {{#if $eq voted _id}}
              Voted
            {{/if}}
          {{/if}}
          {{#unless voted }}
            <button type="button" id='upvote' class="btn btn-success {{upvotedClass}}">
              <span class="glyphicon glyphicon-thumbs-up"></span>
            </button>
          {{/unless }}
          {{#if isInRole 'admin'}}
            <button type="button" id='resetVotes' class="btn btn-danger">
              <span class="glyphicon glyphicon-refresh"></span>
            </button>
          {{/if}}
        </td>
    </tr>
</template>