<template name='place'>
    <tr class="{{#if winner}}success{{/if}}">
        <td>
          {{#if menu}}
            <paper-item label="Place">
              <a target="_blank" href='{{menu}}'>{{name}}</a>
            </paper-item>
          {{/if}}
          {{#unless menu}}
            {{name}}
          {{/unless}}
        </td>
        <!-- <td>{{votes}}</td> -->
        <!-- <td>{{#if menu}}<a href="{{menu}}" class="btn btn-default" target="_blank">Menu</a>{{/if}}</td> -->
        <!-- <td>{{submittedOn}}</td> -->
        {{#unless isWinner}}
        <td>

          {{#if voted}}
            {{#if downVote}}
              <paper-icon-button id='downVote' icon='thumb-down'></paper-icon-button>

            {{/if}}
          {{#unless downVote}}
        {{/unless}}
    {{/if}}
    {{#unless voted }}
      {{#unless downVote}}
        <paper-icon-button id='upvote' icon='thumb-up'></paper-icon-button>

            {{/unless}}

    {{/unless}}
          {{#if isInRole 'admin'}}
            <!-- <paper-icon-button id='resetVotes' icon='refresh'></paper-icon-button> -->
            <paper-icon-button id='delete' icon='delete'></paper-icon-button>
          {{/if}}
        </td>
        {{/unless}}
    </tr>
</template>
