<template name='place'>
    <tr>
        <td>
          {{#if menu}}
            <a target="_blank" href='{{menu}}'>{{name}}</a>
          {{/if}}
          {{#unless menu}}
            {{name}}
          {{/unless}}
        </td>
        <td>{{votes}}</td>
        <!-- <td>{{#if menu}}<a href="{{menu}}" class="btn btn-default" target="_blank">Menu</a>{{/if}}</td> -->
        <!-- <td>{{submittedOn}}</td> -->
        <td>
          {{#if $eq currentUser.profile.name username}}
            <button type="button" id='delete' class="btn btn-danger">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          {{/if}}
          {{#if voted}}
            {{#if downVote}}
              <button type="button" id='downVote' class="decrement btn btn-warning">
              <span class="glyphicon glyphicon-thumbs-down"></span>
            </button>

            {{/if}}
          {{#unless downVote}}
<!--       <td></td> -->
        {{/unless}}
    {{/if}}
    {{#unless voted }}
      {{#unless downVote}}
      <button type="button" id='upvote' class="btn btn-success {{upvotedClass}}">
              <span class="glyphicon glyphicon-thumbs-up"></span>
            </button>
      {{/unless}}
    {{/unless}}
          {{#if isInRole 'admin'}}
            <button type="button" id='resetVotes' class="btn btn-danger">
              Reset ALL votes
              <!-- <span class="glyphicon glyphicon-refresh"></span> -->
            </button>
          {{/if}}
        </td>
    </tr>
</template>
