<template name="places">
    <div class="group-header">
        <div class="title-bar row">
          <span class="title col-sm-8">Places</span>
          <span class="count col-sm-4">{{items.count}} Place(s) Registered</span>
        </div>
      {{#if isInRole 'admin'}}
        <div class="entry form-horizontal">
          <div class="col-sm-5">
            <input type='text' placeholder="Where at..." id="place" class="form-control" />
          </div>
          <div class="col-sm-5">
            <input type='text' placeholder="What they have..." id="menu" class="form-control" />
          </div>
          <div class="col-sm-2">
            <input type="button" class='btn btn-success' id='submitPlace' value="Submit" />
          </div>
        </div>
      {{/if}}
  </div>
  <table class="table">
      <thead>
          <th>Name</th>
          <th>Votes</th>
          <!-- <th>Time</th> -->
          <th>&nbsp;</th>
      </thead>
      <tbody>
          {{#each items}}
              {{> place}}
          {{else}}
            <h3>No places...</h3>
          {{/each}}
    </tbody>
  </table>
</template>
