<template name="places">
  <h3>Places</h3>
      <div >
        <div>{{items.count}} Place(s) Registered</div>
        <div>{{currentVoted}} Total Number of Votes</div>
      </div>

      {{#if isInRole 'admin'}}
        <table>
          <tr>
            <td>
            <paper-input label="Where at..." id="place" ></paper-input>
            </td>
            <td>
            <paper-input label="What they have..." id="menu" ></paper-input>
            </td>
            <td>
            <paper-button  id='submitPlace' >Submit</paper-button>
            </td>
          </tr>
        </table>
      {{/if}}

  <table class="table">
      <thead>
          <th>Name</th>
          <!-- <th>Votes</th> -->
          <!-- <th>Time</th> -->
          <th>&nbsp;</th>
      </thead>
      <tbody>
          {{#each items}}
              {{> place}}
          {{else}}
            <h3>No places...</h3>
          {{/each}}
    </tbody>
  </table>
</template>
