<template name='url'>
    <tr>
        <td>
            {{displayUrl}}
        </td>
        <td>
            {{votes}}
        </td>
        {{#unless did}}
                <td>
          {{#if $eq currentUser.profile.name username}}
            <button type="button" id='delete' class="btn btn-danger">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          {{/if}}
          {{#if voted}}
            {{#if $eq voted _id}}
              Voted
            {{/if}}
          {{/if}}
          {{#unless voted }}
            <button type="button" id='upvote' class="btn btn-success {{upvotedClass}}">
              <span class="glyphicon glyphicon-thumbs-up"></span>
            </button>
          {{/unless }}
          {{#if isInRole 'admin'}}
            <button type="button" id='resetVotes' class="btn btn-danger">
              <span class="glyphicon glyphicon-refresh"></span>
            </button>
            <button type="button" id="did" class="btn btn-primary">
              Done With
            </button>
          {{/if}}
          {{#if embeddable}}
            <a id="watch" class="btn btn-default" href="watch/{{_id}}">
              <span class="glyphicon glyphicon-play"></span>
            </a>
          {{else}}
            <a id="watch" class="btn btn-default" href="{{url}}" target="_blank">
              <span class="glyphicon glyphicon-new-window"></span>
            </a>
          {{/if}}
        </td>
        {{/unless}}
    </tr>
</template>