<template name='messages'>

    {{#if isInRole 'admin'}}
        <div class="group-header">
          <div class="entry form-horizontal">
            <div class="form-group">
                <div class="col-sm-8">
                    <input type='text' placeholder="Message" id="message" class="form-control"/>
                </div>
                <div class="col-sm-4">
                    <a href="#" type="button" class='btn btn-success' id='submitMessage'>Submit</a>
                </div>
            </div>
          </div>
        </div>
    {{/if}}

    <table class="table table-striped">
        <thead>
            <th>Message</th>
            <th>&nbsp;</th>
            <!-- <th>Display</th> -->
            <!-- <th>Created</th> -->
            <!-- <th>&nbsp;</th> -->
        </thead>
        <tbody>
            {{#each items}}
                {{> message}}
            {{else}}
              <h3>No messages found...</h3>
            {{/each}}
    </tbody>
    </table>

</template>

